/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#root {
  margin: 0 auto;
  text-align: center;

  line-height: 1.2;

  filter: contrast(1.05) brightness(1.1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --neon-green: #00FF41;
  --aqua-blue: #00FFFF;
  --web-orange: #FFA500;
  --argent-gray: #888888;
}

/* Background old computer effect */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background:
    repeating-linear-gradient(
      to bottom,
      rgba(0, 255, 0, 0.07) 0px,
      rgba(0, 255, 0, 0.07) 1px,
      transparent 1px,
      transparent 2px
    );

  z-index: 9999;
  pointer-events: none;

  animation: flicker 1.5s infinite, crt-warp 10s infinite linear;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  z-index: 0;
  background-color: #0A0A0A;
  font-family: 'VT323', monospace;
}

h1 {
  font-size: clamp(1rem, 17vw, 5rem);
  line-height: 0.8;
  color: var(--neon-green);
}

h2 {
  font-size: clamp(0.5rem, 10vw, 3rem);
  line-height: 0.4;
  color: var(--argent-gray);
}

h3 {
  font-size: clamp(0.5rem, 10vw, 2.5rem);
  line-height: 0.4;
  color: var(--neon-green);
}

h4 {
  font-size: clamp(0.5rem, 10vw, 2rem);
  line-height: 0.4;
  color: var(--web-orange);
}

.profile-photo {
  width: 150px;
  height: 218px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  width: clamp(80px, 20vw, 150px);
  height: auto;
  max-width: 100%;
}

/* Blinking cursor */
.cursor {
  display: inline-block;
  margin-left: 4px;
  width: 10px;
  color: var(--neon-green);
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Nav-bar / Hamburguer menu */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #0A0A0AD9;
  border-bottom: 2px solid var(--argent-gray);
  font-size: 1.5rem;
  position: sticky; 
  top: 0;
  z-index: 1000;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: var(--neon-green);
}

.nav-links {
  display: flex;
  gap: 35px;
}

.navbar a {
  color: var(--argent-gray);
  text-decoration: none;
  transition: color 1s;
}

.navbar a:hover {
  color: var(--aqua-blue);
}

.navbar-icon {
  width: 40px;
  height: auto;
  margin-right: auto;
}

/* Hamburger menu for mobile */
@media (max-width: 770px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 60px;
    right: 16px;
    background-color: #0A0A0A;
    padding: 20px;
    border: 1px solid var(--argent-gray);
  }

  .nav-links.show {
    display: flex;
  }
}

/* Sections */
.section {
  padding: 80px 20px;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;          
}

.section p {
  font-size: 1.5rem;
  color: var(--argent-gray);
}


/* Cards */
.card {
  border: 2px solid var(--web-orange);
  padding: 20px;
  margin: 20px auto;
  width: clamp(250px, 80%, 500px);
  color: var(--web-orange);
  box-shadow: 0px 0px 7px var(--web-orange);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card img{
  height: 300px;
}

.card .cursor{
  color: var(--web-orange);
}

/* Floating side menu */
.floating-contact {
  position: fixed;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1100;
}

.floating-contact a {
  font-size: 1.75rem;
  text-decoration: none;
  transition: transform 0.2s, color 0.3s;
}

.floating-contact a:hover {
  transform: scale(1.2);
}